[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2" = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
coverage = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
